# .NET build output
bin/
obj/

# User-specific files
*.user
*.suo
.vs/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
.DS_Store
Thumbs.db

# Rider/JetBrains
.idea/

# VS Code
.vscode/